.board {
  display: flex;
  justify-content: space-between;
}

.column {
  height: 80%;
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f7f7f7;
}

.column.highlight {
  background-color: #e0ffe0;
}

.task {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin: 5px 0;
  border-radius: 3px;
}

.task.dragging {
  background-color: lightblue;
  cursor: move;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-column {
  background: #ff4d4d;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s;
}

.delete-column:hover {
  background: #ff1a1a;
}
